body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000; /* Light background for contrast */
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.red-button {
    display: inline-block;
    padding: 120px 60px; 
    background-color: #a00; 
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none; 
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.red-button:hover {
    background-color: #cc0000;
}

.red-button:active {
    background-color: #990000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
